<link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">

{% block content %}
<div class="bg-image"></div>
<div class="bg-text">
    <h1>Apply Here</h1>
    <div>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
                <div class ="flash-container"> {{ message }}</div>
            {% endfor %}
        {% endif %}
        {% endwith %}
    </div>
    <h2>Applying for {{courseobj.title}} </h2>
    <h3>The instructor of this class is looking for students who fit this criteria:</h3>
    <table class = 'coursetable' style = 'width:100%' valign = 'top'>    
        <tr>
            <td>GPA Minimum</td>
            <td>Previous Grade in Class (if taken)</td>
            <td>Additional Info</td>
        </tr>
        <tr>
            <td>{{courseobj.gpareq}}</td>
            <td>{{courseobj.prevgrade}}</td>
            <td>{{courseobj.addinfo}}</td>
        </tr>
    </table>
    <form action="" method="get">
        {{ form.hidden_tag() }}
        <h2>Information given to the Professor: </h2>    
        <table class = 'coursetable' style = 'width:100%' valign = 'top'>    
            <tr>
                <td><div>Full Name</div></td>
                <td><div>Email</div></td>
                <td><div>Phone Number</div></td>
                <td><div>WSU ID</div></td>
                <td><div>Major</div></td>
                <td><div>Cumulative GPA</div></td>
                <td><div>Expected Graduation Date</div></td>
            </tr>
            <tr>
                <td><div>{{ current_user.fullname }}</div></td>
                <td><div>{{ current_user.email }}</div></td>
                <td><div>{{ current_user.phonenum }}</div></td>
                <td><div>{{ current_user.wsuid }}</div></td>
                <td><div>{{ current_user.major }}</div></td>
                <td><div>{{ current_user.cgpa }}</div></td>
                <td><div>{{ current_user.egd }}</div></td>
            </tr>
        </table>
    </form>
    <form action="" method="post">
        {{ form.hidden_tag() }}
        <h2>Information needed for Application: </h2>
        <p>
            {{ form.prevgrade.label }}
            {{ form.prevgrade(class='userRegister') }}<br>
        </p>
        <p>
            {{ form.whentaken.label }}
            <em>Example: Fall 2019</em>
            {{ form.whentaken(class='userRegister') }}<br>
        </p>
        <p>
            {{ form.whenappfor.label }}
            <em>Example: Spring 2021</em>
            {{ form.whenappfor(class="userRegister") }}<br>
        </p>
        <p>
            {{ form.statement.label }}<br>
            {{ form.statement(class='statement') }}<br>
        </p>
        <p>{{ form.submit(class='button') }}</p>
    </form>
</div>
{% endblock %}