{% block content %}
<head>    
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
</head>
<html>
    <body class="wsuLogoBackground">
        <div class="loginBox">
        <h1>Sign In</h1>
        <form action="" method="post">
            {{ form.hidden_tag() }}
            <p>
                {{ form.username.label }}<br>
                {{ form.username(class='userRegister') }}<br>
                {% for error in form.username.errors %}
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </p>
            <p>
                {{ form.password.label }}<br>
                {{ form.password(class='userRegister') }}<br>
                {% for error in form.password.errors %}
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </p>
            <p>{{ form.remember_me() }} {{ form.remember_me.label }}</p>
            <p>{{ form.submit(class='button') }}</p>
            <p>New User? <a href="{{ url_for('ForT') }}">Click to Register!</a></p>
            <div>
                {% with messages = get_flashed_messages() %}
                {% if messages %}
                    {% for message in messages %}
                        <div class ="flash-container"> {{ message }}</div>
                    {% endfor %}
                {% endif %}
                {% endwith %}
            </div>
        </form>
        </div>
    </body>
</html>
{% endblock %}